{% extends "base.html" %}
{% block title %}API documentation{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
{{method}}
{{path}}

{% if text is defined %}
{{text}}
{% endif %}

{% if params is defined %}
{% for param in params %}
{{param.name}}
{{param.type}}
{{param.docs}}
{% endfor %}
{% endif %}

{% if return is defined %}
{{return}}
{% endif %}

{% if example is defined %}
{{example}}
{% endif %}

{% if result_example is defined %}
{{result_example}}
{% endif %}

{% endblock %}